/* Dark theme */

:root:has(.theme-dark) {
    --colorBg: rgb(33 33 70);
    --bg: 40, 40, 74;

    --colorBlue1: #02243C;
    --colorBlue2: #005DB3;
    --colorBlue3: #5195CE;
    --colorBlue4: #E6E6E6;
    --colorLight: #F9F9F9;
    /* --colorMain: #5BC236; */
}

.theme-dark{
    --colorText: rgb(237, 255, 254);
    --colorNegative: var(--colorWhite);
    background-color: var(--colorBg);
}

.theme-dark .outerWrapper {
    background-color: var(--colorBg);
}

.theme-dark .wrapper {
    background-color: var(--colorBlue3);
    box-shadow: 8px 1px 20px 8px rgb(14 24 38 / 35%), -20px 2px 20px 3px rgb(14 24 38 / 35%);
}

/* For targeting Firefox */
/* Not currently supporting :has() */

@-moz-document url-prefix() { 
    .theme-dark {
        --colorBg: rgb(33 33 70);
        --bg: 40, 40, 74;
    }
  }