h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

h1, h2 {
    margin-bottom: var(--gap-l);
}

h3, h4 {
    margin-bottom: var(--gap);
}

h5, h6 {
    margin-bottom: var(--gap-s);
}

.underline {
    font-weight: 500;
    padding-bottom: 2px;
    border-bottom: solid 1px var(--colorAccent);
    letter-spacing: 0.4px;
    margin-bottom: var(--gap-s);
    color: var(--colorBlue1);
}