:root{
    /* Colors to be moved to theme ? */
    --colorWhite: rgb(253, 253, 253);
    --colorNegative: rgb(10, 10, 73);
    --colorText: rgb(10, 10, 73);
    --colorAccent: rgb(86, 18, 196);
    --accent: 86, 18, 196;
    --colorBg: rgb(27, 233, 199);
    --bg: 27, 233, 199;
    
    --colorDarkBlue: rgba(33, 33, 70);
    --darkBlueRGB: 33, 33, 70;
    --colorMood: rgb(53, 3, 95);
    --colorDay: rgb(255, 208, 0);
    --dayRGB: 255,208, 0;
    --colorNight: rgb(58, 4, 75);
    --nightRGB: 58, 4, 75;

    --colorBlue1: #1D71F2;
    --colorBlue2: #1C9CF6;
    --colorBlue3: #19C3FB;
    --colorBlue4: #E3F4FE;
    --colorLight: #FFFAE0;
    --colorLight75: #FFFAE075;
    --colorMain: #FFCD00;
   

    /* Spacing */
    --gap-s: 8px;
    --gap: calc(var(--gap-s) * 2);
    --gap-l: calc(var(--gap-s) * 3);
    --gap-xl: calc(var(--gap) * 2);

    --default-radius: 6px;
    --default-transition: 350ms ease-in-out;
}