.settingsWrapper {
    justify-content: flex-end;
}

input.themeCheckbox {
    appearance: none;
    -webkit-appearance: none;
    width: 56px;
    height: 32px;
    border-radius: 24px;
    background: url(../../assets/sun.svg) center center no-repeat var(--white);
    background-size: 16px auto;
    box-shadow: 4px 4px 10px 0px rgba(var(--bg), .5);
    cursor: pointer;
    position: relative;
    padding: 0; 
}
    
input.themeCheckbox:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: url(../../assets/night.svg) center center no-repeat var(--bgColor);
    background-size: 16px auto;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transition: var(--default-transition);
}
    
input.themeCheckbox:checked:after {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

input.themeCheckbox:checked {
    /*box-shadow: 0px 0px 15px 0px rgb(255 255 255 / 50%);*/
    background-color: var(--bgColor);
    transition: background 0s 500ms;
}