input, select {
    background: var(--white);
    border-radius: var(--default-radius);
    border: none;
    padding: var(--gap);
    box-shadow: inset 0px -2px 5px 1px rgb(0 0 0 / 30%);
}

input, button {
    font-size: 1rem;
    font-weight: 700;
    height: 48px;
}

button {
    border: none;
    background-color: var(--accentColor);
    border-radius: var(--default-radius);
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    margin-bottom: var(--gap)
}

label, input, select {
    color: inherit
}