* {
    color: var(--textColor);
}

/* Dark theme */

:root:has(.theme-dark) {
    --bgColor: rgb(33 33 70);
    --bg: 40, 40, 74;
}

.theme-dark{
    --textColor: rgb(237, 255, 254);
    --negative: var(--white);
    background-color: var(--bgColor);
}

.theme-dark #__next {
    background-color: var(--bgColor);
}

.theme-dark .wrapper {
    background-color: rgba(var(--bg), 1);
    box-shadow: 8px 1px 20px 8px rgb(14 24 38 / 35%), -20px 2px 20px 3px rgb(14 24 38 / 35%);
}