:root{
    /* Colors to be moved to theme ? */
    --accentColor: rgb(19, 219, 237);
    --accent: 19, 219, 237;
    --bgColor: rgb(237, 255, 254);
    --bg: 237, 255, 254;
    --textColor: rgb(10, 10, 73);
    --moodColor: rgb(45, 2, 2);

    /* Spacing */
    --gap-s: 8px;
    --gap: calc(var(--gap-s) * 2);
    --gap-l: calc(var(--gap-s) * 3);
    --gap-xl: calc(var(--gap) * 2);

    --default-radius: 5px;
    --default-transition: 350ms ease-in-out;
}