:root{
    /* Colors to be moved to theme ? */
    --accentColor: rgb(19, 219, 237);
    --accent: 19, 219, 237;
    --bgColor: rgb(27, 233, 199);
    --bg: 27, 233, 199;
    --textColor: rgb(10, 10, 73);
    --darkBlue: rgba(33, 33, 70);
    --moodColor: rgb(45, 2, 2);
    --white: rgb(255, 255, 255);
    --negative: rgb(10, 10, 73);

    /* Spacing */
    --gap-s: 8px;
    --gap: calc(var(--gap-s) * 2);
    --gap-l: calc(var(--gap-s) * 3);
    --gap-xl: calc(var(--gap) * 2);

    --default-radius: 6px;
    --default-transition: 350ms ease-in-out;
}